/* HEADER */

.main-container{
    max-width: 80vw;
    height: 100vh;
    margin-right: 56px;
    margin-left: 320px;
    margin-top: 12px;
}

.header_navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin: 10px;
    border-radius: 8px;
    background-color: #474A48;
}

.header_navigation .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_navigation .navigation .arrow-left{
    margin-right: 1.25rem;
}

.arrow-left, 
.arrow-right{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background: #2C302E;
    background-color: #2C302E;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.header_login{
    display: flex;
    align-items: center;
}

.header_search{
    display: flex;
    align-items: center;
    width: 364px;
    height: 48px;
    margin-left: 8px;
    background-color: #2C302E;
    border-radius: 500px;
    border: 1px solid transparent;
}

.header_search img{
    width: 16px;
    height: 16px;
    margin-left: 10px;
}

.header_search input{
    background: transparent;
    border: none;
    padding: 0px 100px 0px 12px;
    color: #9AE19D;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    outline: none;
}

.header_login .subscribe{
    color: #9AE19D;
    font-size: 16px;
    font-weight: 700;
    background-color: #474A48 ;
    margin-right: 32px;
    border: none;
}

.header_login .login{
    width: 100px;
    height: 48px;
    color: #474A48;
    font-size: 16px;
    font-weight: 700;
    border-radius: 40px;
}

/* PLAYLIST */
.playlist-container{
 height: 68vh;
 padding: 16px;
 margin: 10px;
 border-radius: 10px;
 background-color: #474A48;
}

.playlist{
    margin: 24px;
}

.playlist #greeting{
    color: #9AE19D;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 48px;
    font-family: "DM Sans", sans-serif;
}

.playlist .session{
    color: #9AE19D;   
    font-size: 24px;
    font-weight: 700;
    font-family: "DM Sans", sans-serif;
}

/* SCROLL */
.offer_scroll-container{
    max-height: 43vh;
    margin: 24px;
    overflow-y: auto;
}

.offer__scroll-container::-webkit-scrollbar {
    width: 1px;
  }
  
.offer_scroll-container::-webkit-scrollbar-thumb{
    background-color: transparent;
}
/* FIM SCROLL */

.offer_list-item{
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 16px;
    gap: 16px;
    margin-bottom: 16px;

    /* CODIGO COM JS CALCULANDO OS CARDS POR COLUNA */
    display: grid;
    gap: 16px;
    grid-gap: 32px;
    margin: 0 auto;
}

.tela{
    position: relative;
    width: 220px;
    height: 200px;
    overflow: hidden;
    border-radius: 8px;
}

.tela span{
    padding: 16px;
    position: absolute;
    color: #ffff;
    font-size: 24px;
    font-weight: 700;
}

/* COLOR CARDS */
.tela1 {
    background-color: rgb(0, 100, 80);
  }
  .tela2 {
    background-color: rgb(132, 0, 231);
  }
  .tela3 {
    background: rgb(30, 50, 100);
  }
  .tela4 {
    background: rgb(140, 25, 50);
  }
  .tela5 {
    background: rgb(232, 17, 91);
  }
  .tela6 {
    background: rgb(83, 122, 161);
  }
  .tela7 {
    background: rgb(142, 102, 172);
  }
  .tela8 {
    background: rgb(20, 138, 8);
  }
  .tela9 {
    background: rgb(30, 50, 100);
  }
  .tela10 {
    background: rgb(233, 20, 41);
  }
  .tela11 {
    background: rgb(80, 55, 80);
  }
  .tela12 {
    background: rgb(216, 64, 0);
  }
  .tela13 {
    background: rgb(186, 93, 7);
  }
  .tela14 {
    background: rgb(0, 30, 80);
  }
  .tela15 {
    background: rgb(60, 30, 80);
}
/* FIM COLOR CARDS */

.offer_list-item img{
    position: absolute;
    right: 0;
    bottom: 0;
    height: auto;
    width: 108px;
    transform: rotate(25deg) translate(18%, -2%);
}

/* CARD ARTISTA */

.artist{
    --column-count: 5;
    --grid-gap: 24px;
    --min-container-width:372px;
}

.hidden{
    display: none;
}

.grid-container{
    grid-gap: 24px;
    display: grid;
    grid-template-columns: repeat(5, minmax(0,1fr));
    min-width: 767;
}

.artist-tela{
    background: #ffff;
    border-radius: 8px;
    --ms-flex: 1;
    flex: 1;
    isolation: isolate;
    padding: 16px;
    position: relative;
    transition: background-color 0.3s ease;
    width: 100%;
}

.artist-tela:hover{
    background-color: #ffff;
}

.tela-imagem {
    padding-bottom: 100%;
    position: relative;
    width: 100%;
    margin-bottom: 16px;
}

.tela-imagem{
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    border-radius: 50%;
}

.tela-texto a{
    display: inline-block;
    max-width: 100%;
    vertical-align: middle;
}

.artist-name{
    box-sizing: border-box;
    margin-block: 0px;
    font-size: 16px;
    font-weight: 700;
    padding-block-end: 8px;
}

.artist-categorie{
    color: #ffff;
    font-weight: 400;
    font-size: 0.875rem;
}

.play{
    position: relative;
}

.play .fa-play{
    position: absolute;
    right: 10px;
    top: 120px;
    padding: 18px;
    background-color: #ffff;
    border-radius: 100%;
    font-size: 14px;
    opacity: 0;
    transition: all ease 0.4s;
}

.artist-tela:hover .play .fa-play{
    opacity: 1;
    transform: translateY(-20px);
}

.play .fa-play:hover{
    padding: 20px;
    cursor: pointer;
}

#result-artist{
    padding: 20px 40px;
}